body,
html {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
body {
  background: #ccc url(img/cool-background.png) center top no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  text-align: center;
}

a:link {
  text-decoration: none;
}

.body-content {
  margin-bottom: 100px;
}

ul {
  list-style-type: none;
}

h2 {
  text-align: center;
  color: #7373a5;
  font-family: fantasy;
}

#menu {
  position: fixed;
  right: 0;
  top: 50%;
  width: 5em;
  margin: -2.5em 0 0 0;
  z-index: 5;
  background: #e0e0eb;
  color: white;
  font-weight: bold;
  font-size: large;
  text-align: left;
  border: solid #7373a5;
  border-right: none;
  padding: 0.5em 0.5em 0.5em 2.5em;
  box-shadow: 0 1px 3px black;
  border-radius: 3em 0.5em 0.5em 3em;
  opacity: 0.9;
}

.nav-header {
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 2%;
  background: #e0e0eb;
  opacity: 0.8;
}

.nav-title {
  font-family: fantasy;
  font-size: 32px;
  color: darkslateblue;
}

.footer {
  border-top: 1px solid #7373a5;
  bottom: 0;
  left: 0;
  height: 20px;
  position: fixed;
  width: 100%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 2%;
  background: #e0e0eb;
  opacity: 0.8;
}

.footer p {
  margin: 0;
}

/* contato */

form {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  background-color: #e0e0eb;
  opacity: 0.8;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
}

h1 {
  margin-bottom: 20px;
  margin-left: 20px;
  color: #7373a5;
  text-shadow: 5px 5px 5px rgb(56, 53, 53);
}

input,
textarea {
  width: 400px;
  padding: 10px;
  color: black;
  margin-left: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border-color: #7a7a94;
  box-shadow: 5px 0px 9px #9ba5bd;
  background-color: #b7b7ce;
  color: black;
  font-weight: bold;
}

.submit input {
  background-color: #7373a5;
  height: 40px;
  width: 100px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid;
  color: black;
  cursor: pointer;
}

textarea {
  width: 400px;
  height: 120px;
  line-height: 20px;
  max-width: 400px;
}

form label {
  margin-left: 20px;
  color: #bab4c5;
  font-weight: bold;
}
/* fim contato */

.body-content {
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1.5px;
  font-size: 18px;
  text-align: justify;
  padding: 15px 95px 15px 55px;
}

.container-home {
  padding-top: 3%;
  padding-bottom: 45%;
}

.container-saibamais {
  padding-top: 3%;
  padding-bottom: 5%;
}

.container-noticias-a {
  width: 95%;
  height: 45px;
  box-shadow: 5px 0px 9px #cdd1db;
  padding: 15px 15px 15px 15px;
  background-color: rgba(223, 220, 236, 0.8);
  margin-bottom: 15px;
}

.container-noticias-a img {
  padding-right: 15px;
}

.container-noticias-1 {
  width: 45%;
  height: 315px;
  box-shadow: 5px 0px 9px #cdd1db;
  padding: 15px 15px 15px 15px;
  background-color: rgba(223, 220, 236, 0.8);
  text-align: center;
  float: left;
  margin-bottom: 15px;
}

.container-noticias-2 {
  width: 45%;
  height: 45%;
  box-shadow: 5px 0px 9px #cdd1db;
  padding: 15px 15px 15px 15px;
  background-color: rgba(223, 220, 236, 0.8);
  text-align: center;
  float: right;
  margin-bottom: 15px;
}

.container-noticias-3 {
  width: 45%;
  height: 45%;
  box-shadow: 5px 0px 9px #cdd1db;
  padding: 15px 15px 15px 15px;
  background-color: rgba(223, 220, 236, 0.8);
  text-align: center;
  float: left;
  margin-bottom: 15px;
}

.container-noticias-4 {
  width: 45%;
  height: 45%;
  box-shadow: 5px 0px 9px #cdd1db;
  padding: 15px 15px 15px 15px;
  background-color: rgba(223, 220, 236, 0.8);
  text-align: center;
  float: left;
  margin-bottom: 15px;
  margin-left: 115px;
}

.container-sobre {
  box-shadow: 5px 0px 9px #9ba5bd;
  padding: 15px 95px 15px 55px;
  background-color: rgba(186, 182, 207, 0.8);
}

.container-sobre img {
  padding-right: 15px;
}
