body,
html {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
body {
  background: #ccc url(img/cool-background.png) center top no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  text-align: center;
}

a:link {
  text-decoration: none;
}

.body-content {
  margin-bottom: 100px;
}

ul {
  list-style-type: none;
}

h2 {
  text-align: center;
  color: #7373a5;
  font-family: fantasy;
}

#menu {
  position: fixed;
  right: 0;
  top: 50%;
  width: 5em;
  margin: -2.5em 0 0 0;
  z-index: 5;
  background: #e0e0eb;
  color: white;
  font-weight: bold;
  font-size: large;
  text-align: left;
  border: solid #7373a5;
  border-right: none;
  padding: 0.5em 0.5em 0.5em 2.5em;
  box-shadow: 0 1px 3px black;
  border-radius: 3em 0.5em 0.5em 3em;
  opacity: 0.9;
}

.nav-header {
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 2%;
  background: #e0e0eb;
  opacity: 0.8;
}

.nav-title {
  font-family: fantasy;
  font-size: 32px;
  color: darkslateblue;
}

.footer {
  border-top: 1px solid #7373a5;
  bottom: 0;
  left: 0;
  height: 20px;
  position: fixed;
  width: 100%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 2%;
  background: #e0e0eb;
  opacity: 0.8;
}

.footer p {
  margin: 0;
}

/* contato */

.form {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  background-color: #e0e0eb;
  opacity: 0.8;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
  height: 100%;
}

.body-content {
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1.5px;
  font-size: 18px;
  text-align: justify;
  padding: 15px 95px 15px 55px;
}

.container-saibamais {
  padding-top: 3%;
  padding-bottom: 5%;
}

.container-noticias-a {
  width: 95%;
  height: 45px;
  box-shadow: 5px 0px 9px #cdd1db;
  padding: 15px 15px 15px 15px;
  background-color: rgba(223, 220, 236, 0.8);
  margin-bottom: 15px;
}

.container-noticias-a img {
  padding-right: 15px;
}

.container-home {
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  list-style: none;
}

.container-noticias {
  width: 90%;
  max-width: 1180px;
  height: 90%;
  box-shadow: 5px 0px 9px #cdd1db;
  padding: 15px 15px 15px 15px;
  background-color: rgba(223, 220, 236, 0.8);
  text-align: center;
  margin-bottom: 15px;
}

.container-sobre {
  height: 390px;
  box-shadow: 5px 0px 9px #9ba5bd;
  padding: 15px 95px 15px 55px;
  background-color: rgba(186, 182, 207, 0.8);
}

.container-sobre img {
  padding-right: 15px;
}
